API_BASE_URL=http://localhost:5000/
https://gestao-estoque-zvo4.onrender.com/
API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOjEsIm5hbWUiOiJhZG1pbiIsImlhdCI6MTc2MDQ2OTMyODUwOSwiZXhwIjoxNzY5MTA5MzI4NTA5fQ.CLT5JDfaaZcP776glb9jhltmkc_VATrjMyz0C1bGH_o